.page_manifesto__4xir4 {
	display: grid;
	width: 100%;
	height: 100%;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	overflow-y: auto;
	grid-template-columns: minmax(0, 1fr);
	padding: 5px 5px 10svh;
	padding-top: calc(var(--nav-height) * 2);
}

.page_manifesto__4xir4 * {
	font-size: var(--fs-l);
}

.page_manifestoMain__hJ4nx {
	display: block;
	width: 100%;
	position: relative;
}

.page_manifestoMain__hJ4nx.page_mobile__hjACS {
	display: none;
}

.page_manifestoMain__hJ4nx svg {
	width: 100%;
	fill: var(--color);
}

.page_manifestoFooter__5yhQQ {
	position: fixed;
	bottom: 0;
	left: 0;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 40px;
	gap: 40px;
}

.page_manifestoFooterItem__69hsb,
.page_manifestoFooter__5yhQQ {
	display: grid;
	width: 100%;
	align-items: flex-start;
	align-content: flex-start;
}

.page_manifestoFooterItem__69hsb {
	grid-template-columns: 2ch minmax(0, 1fr);
	grid-gap: 10px;
	gap: 10px;
}

.page_manifestoMobileFooter__tHiOv {
	display: none;
}

@media(max-width:780px) {
	.page_manifestoMain__hJ4nx {
		display: none;
	}

	.page_manifestoMain__hJ4nx.page_mobile__hjACS {
		display: block;
	}

	.page_manifestoFooter__5yhQQ {
		display: none;
	}

	.page_manifestoMobileFooter__tHiOv {
		position: fixed;
		display: block;
		bottom: 0;
		left: 0;
		padding: var(--padding);
		text-align: center;
		font-size: var(--fs-s);
	}
}