.Header_header__NLhag {
	position: -webkit-sticky;
	position: sticky;
	top: calc(-11.8vw - .5rem);
	z-index: 22;
	margin: -1rem;
	transition: top .4s var(--easeOutCubic), transform .4s var(--easeOutCubic)
}

@media(max-width:767px) {

	.Header_header__NLhag.Header_aboveFold__SvXmh,
	.Header_header__NLhag.Header_scrollUp__AfJxh {
		top: 0
	}

	.Header_header__NLhag.Header_aboveFold__SvXmh .Header_logo__SAQTw .Header_agency__iMWyG,
	.Header_header__NLhag.Header_scrollUp__AfJxh .Header_logo__SAQTw .Header_agency__iMWyG {
		transform: translateY(0)
	}

	.Header_header__NLhag.Header_aboveFold__SvXmh button.Header_openMenu__PAQOS,
	.Header_header__NLhag.Header_scrollUp__AfJxh button.Header_openMenu__PAQOS {
		right: 10vw;
		top: -1.4rem
	}

	.Header_header__NLhag.Header_aboveFold__SvXmh a.Header_about__PMRt2,
	.Header_header__NLhag.Header_aboveFold__SvXmh a.Header_work__D3iVQ,
	.Header_header__NLhag.Header_scrollUp__AfJxh a.Header_about__PMRt2,
	.Header_header__NLhag.Header_scrollUp__AfJxh a.Header_work__D3iVQ {
		top: -1.4rem
	}

	.Header_header__NLhag.Header_aboveFold__SvXmh .Header_content___w3_k,
	.Header_header__NLhag.Header_scrollUp__AfJxh .Header_content___w3_k {
		padding-bottom: .4rem !important
	}

	.Header_header__NLhag.Header_aboveFold__SvXmh.Header_mobileOpen__Ws0Gx .Header_menu__SvLc0 a.Header_work__D3iVQ,
	.Header_header__NLhag.Header_scrollUp__AfJxh.Header_mobileOpen__Ws0Gx .Header_menu__SvLc0 a.Header_work__D3iVQ {
		left: -1rem;
		top: -1.4rem
	}

	.Header_header__NLhag.Header_aboveFold__SvXmh .Header_mobileLinks__lWIBf,
	.Header_header__NLhag.Header_scrollUp__AfJxh .Header_mobileLinks__lWIBf {
		margin-top: 0;
		position: relative;
		z-index: 30
	}
}

.Header_header__NLhag.Header_mobileOpen__Ws0Gx {
	padding-bottom: 2rem;
	background-color: var(--white)
}

.Header_header__NLhag.Header_mobileOpen__Ws0Gx .Header_menu__SvLc0 {
	padding-bottom: 0
}

@media(max-width:767px) {
	.Header_header__NLhag {
		top: calc(-11.8vw - .7rem)
	}
}

.Header_header__NLhag .Header_logo__SAQTw {
	z-index: 23;
	position: relative
}

@media(max-width:767px) {
	.Header_header__NLhag .Header_logo__SAQTw .Header_agency__iMWyG {
		transition: transform .4s var(--easeOutCubic);
		transform: translateY(-15vw)
	}
}

.Header_header__NLhag .Header_logo__SAQTw svg path {
	fill: var(--black)
}

.Header_header__NLhag .Header_content___w3_k {
	padding: 1rem 1rem .7rem;
	z-index: 24;
	position: relative
}

@media(max-width:767px) {
	.Header_header__NLhag .Header_content___w3_k {
		transition: padding-bottom .2s var(--easeMenu);
		background: var(--white);
		padding-bottom: .8rem;
		position: static
	}
}

.Header_time__2nfoA {
	transition: opacity .4s ease
}

@media(max-width:767px) {
	.Header_time__2nfoA {
		display: none
	}
}

.Header_menu__SvLc0 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 0;
	width: 100%;
	margin-top: -3.4vw;
	transition: transform .2s var(--easeMenu);
	padding-bottom: var(--line);
	margin-bottom: calc(var(--line)*-1);
	z-index: 24;
	position: relative
}

@media(min-width:767px) {
	.Header_aboveFold__SvXmh .Header_menu__SvLc0 {
		transform: translateY(-.6vw)
	}
}

.Header_menu__SvLc0 .Header_div1__3QEsq {
	grid-area: 1/1/2/3;
	padding-right: 3rem
}

html.rainbowmode .Header_menu__SvLc0 .Header_div1__3QEsq {
	color: var(--rainbow7)
}

.Header_menu__SvLc0 .Header_div2__b1tO_ {
	grid-area: 1/3/2/4
}

html.rainbowmode .Header_menu__SvLc0 .Header_div2__b1tO_ a:first-child {
	color: var(--rainbow8)
}

html.rainbowmode .Header_menu__SvLc0 .Header_div2__b1tO_ a:last-child {
	color: var(--rainbow9)
}

.Header_menu__SvLc0 .Header_div3__Da3DF {
	grid-area: 1/4/2/5
}

html.rainbowmode .Header_menu__SvLc0 .Header_div3__Da3DF a:first-child {
	color: var(--rainbow8)
}

html.rainbowmode .Header_menu__SvLc0 .Header_div3__Da3DF a:last-child {
	color: var(--rainbow9)
}

.Header_menu__SvLc0 .Header_div4__J6q20 {
	grid-area: 1/6/2/6
}

html.rainbowmode .Header_menu__SvLc0 .Header_div4__J6q20 a:first-child {
	color: var(--rainbow1)
}

html.rainbowmode .Header_menu__SvLc0 .Header_div4__J6q20 a:last-child {
	color: var(--rainbow2)
}

.Header_menu__SvLc0 .Header_div5__1hrd3 {
	grid-area: 1/7/2/9
}

html.rainbowmode .Header_menu__SvLc0 .Header_div5__1hrd3 a:first-child {
	color: var(--rainbow3)
}

html.rainbowmode .Header_menu__SvLc0 .Header_div5__1hrd3 a:last-child {
	color: var(--rainbow4)
}

.Header_menu__SvLc0 a {
	white-space: nowrap
}

@media(min-width:768px) {
	.Header_menu__SvLc0 .Header_openMenu__PAQOS {
		display: none
	}
}

@media(max-width:767px) {

	.Header_menu__SvLc0 a,
	.Header_menu__SvLc0 button {
		padding: 1rem;
		opacity: 1
	}

	.Header_menu__SvLc0 .Header_startpage__7J1D8 {
		display: none
	}

	.Header_menu__SvLc0 .Header_openMenu__PAQOS {
		position: absolute;
		right: -1rem;
		top: -.8rem;
		transition: right .2s var(--easeMenu), top .2s var(--easeMenu);
		display: none
	}

	html.rainbowmode .Header_menu__SvLc0 .Header_openMenu__PAQOS {
		color: var(--rainbow3)
	}

	html.js .Header_menu__SvLc0 .Header_openMenu__PAQOS {
		display: block
	}

	.Header_menu__SvLc0 .Header_work__D3iVQ {
		position: absolute;
		left: -1rem;
		top: -.8rem;
		transition: top .2s var(--easeMenu)
	}

	.Header_menu__SvLc0 .Header_ecom__wIl_y {
		position: absolute;
		left: -12rem
	}

	.Header_menu__SvLc0 .Header_about__PMRt2 {
		position: absolute;
		left: 4rem;
		top: -.8rem;
		transition: top .2s var(--easeMenu)
	}

	.Header_menu__SvLc0 .Header_careers__O47fA {
		position: absolute;
		left: -12rem
	}

	.Header_menu__SvLc0 .Header_studio__lb3OO {
		position: absolute;
		left: -13rem
	}

	.Header_menu__SvLc0 .Header_contact__EkQLY {
		position: absolute;
		right: 10vw;
		top: -1.4rem
	}

	html.js .Header_menu__SvLc0 .Header_contact__EkQLY {
		left: -12rem;
		right: auto
	}
}

@media(max-width:767px)and (max-width:388px) {
	.Header_menu__SvLc0 .Header_contact__EkQLY {
		left: -10rem
	}
}

.Header_mobileOpen__Ws0Gx .Header_menu__SvLc0 a.Header_work__D3iVQ {
	left: -1rem;
	top: -.8rem
}

.Header_mobileOpen__Ws0Gx .Header_menu__SvLc0 a.Header_about__PMRt2,
.Header_mobileOpen__Ws0Gx .Header_menu__SvLc0 a.Header_contact__EkQLY {
	left: -12rem
}

.Header_dot__vReMn {
	width: 2.4rem;
	height: 2.4rem;
	background: var(--black);
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: -1.2rem;
	margin-left: -2.4rem;
	pointer-events: none;
	opacity: 0
}

@media(max-width:767px) {
	.Header_dot__vReMn {
		display: none !important
	}
}

html.rainbowmode #aino .Header_dot__vReMn {
	background-color: var(--rainbow7)
}

html.rainbowmode #aino[data-page=work] .Header_dot__vReMn {
	background-color: var(--rainbow8)
}

html.rainbowmode #aino[data-page=e-commerce] .Header_dot__vReMn {
	background-color: var(--rainbow9)
}

html.rainbowmode #aino[data-page=about] .Header_dot__vReMn {
	background-color: var(--rainbow1)
}

html.rainbowmode #aino[data-page=studio-life] .Header_dot__vReMn {
	background-color: var(--rainbow2)
}

html.rainbowmode #aino[data-page=careers] .Header_dot__vReMn {
	background-color: var(--rainbow3)
}

html.rainbowmode #aino[data-page=contact] .Header_dot__vReMn {
	background-color: transparent
}

html.rainbowmode #aino[data-page=contact] .Header_dot__vReMn:after,
html.rainbowmode #aino[data-page=contact] .Header_dot__vReMn:before {
	background-color: var(--rainbow4)
}

#aino[data-page=contact] .Header_dot__vReMn {
	transform-origin: 50% 50%;
	transform: rotate(45deg) scale(1);
	background: transparent;
	margin-top: -1.4rem
}

#aino[data-page=contact] .Header_dot__vReMn:before {
	border-bottom-left-radius: .8rem;
	width: inherit;
	height: 1.6rem;
	top: .8rem;
	left: 0
}

#aino[data-page=contact] .Header_dot__vReMn:after,
#aino[data-page=contact] .Header_dot__vReMn:before {
	content: "";
	position: absolute;
	display: block;
	border-top-left-radius: .8rem;
	background-color: var(--black)
}

#aino[data-page=contact] .Header_dot__vReMn:after {
	width: 1.6rem;
	top: 0;
	left: .8rem;
	height: inherit;
	border-top-right-radius: .8rem
}

@media(min-width:768px) {
	#aino[data-page=studio-life] .Header_header__NLhag {
		transform: translateY(calc(-11.8vw - .5rem));
		top: 0
	}

	#aino[data-page=studio-life] .Header_header__NLhag .Header_menu__SvLc0 {
		transform: translateY(0)
	}
}

html.rainbowmode .Header_logo__SAQTw svg path:first-child {
	fill: var(--rainbow1)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(2) {
	fill: var(--rainbow2)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(3) {
	fill: var(--rainbow3)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(4) {
	fill: var(--rainbow4)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(5) {
	fill: var(--rainbow5)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(6) {
	fill: var(--rainbow6)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(7) {
	fill: var(--rainbow7)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(8) {
	fill: var(--rainbow9)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(9) {
	fill: var(--rainbow1)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(10) {
	fill: var(--rainbow2)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(11) {
	fill: var(--rainbow3)
}

html.rainbowmode .Header_logo__SAQTw svg path:nth-child(12) {
	fill: var(--rainbow4)
}

.Header_backdrop__J8Hnw {
	display: block;
	height: 120vh;
	opacity: 0;
	top: 0;
	opacity: 1
}

.Header_backdrop__J8Hnw,
.Header_mobileMenu__3k2cW {
	position: absolute;
	width: 100vw;
	left: 0;
	touch-action: none
}

.Header_mobileMenu__3k2cW {
	z-index: 23;
	transform: translateX(.001%);
	margin-top: 1rem
}

.Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf {
	width: 100%;
	justify-content: space-between;
	padding-bottom: 1rem;
	background: var(--white)
}

.Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a {
	display: block;
	padding: .35rem 1rem;
	transition: opacity 0ms linear;
	opacity: 0
}

.Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:first-child {
	padding-top: .8rem;
	transition-delay: 50ms
}

html.rainbowmode .Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:first-child {
	color: var(--rainbow9)
}

.Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(2) {
	transition-delay: .1s
}

html.rainbowmode .Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(2) {
	color: var(--rainbow1)
}

.Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(3) {
	transition-delay: .15s
}

html.rainbowmode .Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(3) {
	color: var(--rainbow2)
}

.Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(4) {
	transition-delay: .2s
}

html.rainbowmode .Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(4) {
	color: var(--rainbow3)
}

.Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(5) {
	transition-delay: .25s
}

html.rainbowmode .Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(5) {
	color: var(--rainbow4)
}

.Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(6) {
	transition-delay: .3s;
	position: absolute;
	right: 0;
	bottom: 1rem
}

html.rainbowmode .Header_mobileMenu__3k2cW .Header_mobileLinks__lWIBf a:nth-child(6) {
	color: var(--rainbow4)
}

.Header_tick__nkA3w .Header_mobileMenu__3k2cW a {
	opacity: 1
}

@media(min-width:768px) {
	.Header_mobileMenu__3k2cW {
		display: none !important
	}
}

.Header_mobileOpen__Ws0Gx .Header_mobileMenu__3k2cW {
	display: block
}

.TerminalText_square__fUl8o {
	position: absolute;
	width: 1rem;
	height: var(--line);
	background: var(--black);
	color: transparent;
	margin-left: -1rem
}

html.darkmode .TerminalText_square__fUl8o {
	background: var(--white)
}

.TerminalText_text___meIH {
	opacity: 0;
	display: block;
	padding-right: 1rem
}

.TerminalText_text___meIH.TerminalText_started__FXB5Z {
	opacity: 1;
	padding: 0
}

.TerminalText_inverted__lnyUw .TerminalText_square__fUl8o {
	background: var(--white)
}

html.darkmode .TerminalText_inverted__lnyUw .TerminalText_square__fUl8o {
	background: var(--black)
}

.TerminalText_inverted__lnyUw .TerminalText_text___meIH {
	color: var(--white)
}

.Intro_intro__L24QA,
html.darkmode .TerminalText_inverted__lnyUw .TerminalText_text___meIH {
	background: var(--black)
}

.Intro_intro__L24QA {
	position: relative;
	height: calc(var(--vh) - 1rem);
	font-variation-settings: "MONO" 1;
	color: var(--white);
	cursor: pointer;
	overflow: hidden;
	display: none;
	z-index: 31
}

html.js .Intro_intro__L24QA {
	display: block
}

html.darkmode .Intro_intro__L24QA {
	color: var(--black);
	background: var(--white)
}

.Intro_spacer__N9H_Q {
	height: 1.1rem;
	position: absolute;
	width: 100vw;
	top: calc(var(--vh) - 2.1rem);
	left: -1rem;
	background: var(--white);
	z-index: 50
}

.Intro_code__gvfDX {
	opacity: 0;
	transition: opacity 1.4s ease;
	position: absolute;
	width: 101%;
	height: calc(var(--vh) - 2rem);
	top: 0;
	left: 0;
	word-wrap: break-word;
	pointer-events: none;
	font-weight: 450
}

@media(max-width:800px) {
	.Intro_code__gvfDX {
		width: calc(100% + 2rem)
	}
}

.Intro_blob__QrtNg {
	height: calc(var(--vh) - 2rem);
	opacity: 0
}

.Intro_story__j5zUd {
	text-align: left;
	color: var(--white);
	position: absolute;
	width: 100%;
	text-align: center;
	margin-left: -1rem;
	top: calc(var(--line)*var(--half-rows))
}

html.darkmode .Intro_story__j5zUd {
	color: var(--black);
	margin-left: 0
}

.Intro_hide__c9dQm {
	height: 0;
	opacity: 0;
	border: none;
	overflow: hidden
}

@font-face {
	font-family: abc;
	src: url(/_next/static/media/ABCDiatypePlusVariable.77bf2bb2.woff) format("woff");
	src: url(/_next/static/media/ABCDiatypePlusVariable.8921cbf7.woff2) format("woff2");
	font-weight: 100 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: abc-v;
	src: url(/_next/static/media/ABCDiatypeVariable.c50299a4.woff) format("woff");
	src: url(/_next/static/media/ABCDiatypeVariable.94c2fcd7.woff2) format("woff2");
	font-weight: 100 800;
	font-style: normal;
	font-display: swap
}

:root {
	color-scheme: light dark;
	font-variation-settings: "MONO" 1;
	--white-rgb: 245, 245, 240;
	--black-rgb: 24, 24, 24;
	--highlight-rgb: 230, 230, 230;
	--green-rgb: 61, 131, 85;
	--font-size: 16px;
	--line-height: 21px;
	--letter-spacing: 0.54px;
	--char-width: 9.6;
	--vh: calc(var(--vh-height, 1vh) * 100);
	--white: rgb(var(--white-rgb));
	--black: rgb(var(--black-rgb));
	--green: rgb(var(--green-rgb));
	--highlight: #e8eeb3;
	--char-ratio: 0.6;
	--easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
	--easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--easeOutBackMore: cubic-bezier(0.175, 0.885, 0.385, 1.85);
	--easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
	--easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
	--easeMenu: cubic-bezier(0.2, 0.6, 0.4, 1);
	--rainbow1: red;
	--rainbow2: #ff9a00;
	--rainbow3: #d0de21;
	--rainbow4: #4fdc4a;
	--rainbow5: #3fdad8;
	--rainbow6: #1c7fee;
	--rainbow7: #5f15f2;
	--rainbow8: #ba0cf8;
	--rainbow9: #fb07d9
}

:root.rainbowmode {
	--white-rgb: 255, 255, 255;
	--black-rgb: 0, 0, 0
}

:root.darkmode {
	--black-rgb: 245, 245, 240;
	--white-rgb: 24, 24, 24
}

:root.darkmode.rainbowmode {
	--black-rgb: 255, 255, 255;
	--white-rgb: 0, 0, 0
}

@media(min-width:768px) {
	:root {
		--font-size: 14px;
		--line-height: 19px;
		--letter-spacing: 0.44px;
		--char-width: 8.4
	}
}

@media(min-width:1100px) {
	:root {
		--font-size: 16px;
		--line-height: 21px;
		--letter-spacing: 0.54px;
		--char-width: 9.6
	}
}

:root.darkmode {
	--highlight: #3b3b2d
}

body,
html {
	padding: 0;
	margin: 0
}

html {
	font-size: calc(var(--char-width)/16*100%);
	background-color: var(--white);
	font-variation-settings: "MONO" 1;
	
	/* text-transform: uppercase; */

	--line: var(--line-height);
	--column: calc((100vw - 9rem) / 8);
	--column-double: calc((100vw - 5rem) / 4);
	--page-margin: calc(var(--line-height) * 4)
}

@media(max-width:767px) {
	html {
		--page-margin: calc(var(--line-height) * 3);
		--column: calc((100vw - 5rem) / 4);
		--column-double: calc((100vw - 3rem) / 2)
	}
}

html ::selection {
	color: var(--white);
	background: var(--black)
}

body {
	line-height: var(--line);
	font-family: abc, monospace;
	font-size: var(--font-size);
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	color: var(--black);
	letter-spacing: var(--letter-spacing);
	font-weight: 500;
	background: var(--white);
	padding-top: .01px
}

body::-webkit-scrollbar {
	display: none
}

body.out {
	transition: opacity .4s ease-out, transform .4s ease-out;
	opacity: 0;
	transform: translateY(-20px)
}

*,
:after,
:before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(var(--black-rgb), .2)
}

html.darkmode *,
html.darkmode :after,
html.darkmode :before {
	-webkit-tap-highlight-color: rgba(var(--black-rgb), .05)
}

button,
input,
textarea {
	font-variation-settings: "MONO" 1
}

button {
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	line-height: inherit;
	padding: 0;
	margin: 0;
	text-transform: inherit;
	letter-spacing: inherit;
	text-align: center;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	outline: none;
	cursor: pointer;
	font-variation-settings: "MONO" 1, "wght" 500
}

button:disabled {
	opacity: .3;
	cursor: default
}

figure,
menu {
	margin: 0;
	padding: 0
}

b,
strong {
	font-weight: 500
}

img {
	max-width: 100%;
	display: block;
	height: auto
}

button,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
span,
ul {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: 500;
	list-style: none
}

a {
	color: inherit;
	text-decoration: none
}

ol {
	counter-reset: item;
	list-style: none
}

ol li:before {
	content: counter(item) ") ";
	counter-increment: item
}

#aino {
	margin: 1rem;
	position: relative
}

#aino[data-page=studio-life] {
	margin-bottom: 0
}

@media(min-width:768px) {
	#aino {
		min-height: calc(100vh - 1rem);
		padding-bottom: calc(var(--line)*6)
	}

	#aino[data-page=studio-life] {
		padding-bottom: 0
	}
}

.box h2,
.caption h2,
.text h2 {
	padding-right: 1rem;
	padding-bottom: var(--line)
}

.box h2.h2indent,
.caption h2.h2indent,
.text h2.h2indent {
	padding-left: 2rem;
	padding-bottom: 0
}

.box h2.h2indent:before,
.caption h2.h2indent:before,
.text h2.h2indent:before {
	content: "("
}

.box h2.h2indent:after,
.caption h2.h2indent:after,
.text h2.h2indent:after {
	content: ")"
}

.box ol li,
.caption ol li,
.text ol li {
	margin-bottom: var(--line)
}

.box li,
.box p,
.caption li,
.caption p,
.text li,
.text p {
	text-transform: none;
	font-variation-settings: "MONO" .5, "wght" 500;
	letter-spacing: -.008em;
	padding-bottom: var(--line);
	font-feature-settings: "ss05"
}

.box li .more,
.box p .more,
.caption li .more,
.caption p .more,
.text li .more,
.text p .more {
	font-variation-settings: "MONO" 1, "wght" 500;
	letter-spacing: var(--letter-spacing);
	text-transform: uppercase
}

.box li strong,
.box p strong,
.caption li strong,
.caption p strong,
.text li strong,
.text p strong {
	font-variation-settings: "MONO" .5, "wght" 900
}

.box li,
.caption li,
.text li {
	padding-bottom: 0
}

.box ul,
.caption ul,
.text ul {
	padding-bottom: var(--line)
}

@media(max-width:767px) {

	.box,
	.caption,
	.text {
		padding-right: 4rem
	}
}

.text.padding {
	padding-right: 3rem
}

.box {
	height: 0;
	padding-bottom: 100%;
	position: relative;
	background: rgba(var(--black-rgb), .07)
}

.box h3 {
	font-family: abc-v, sans-serif;
	font-size: calc(var(--font-size)*4.2);
	padding-bottom: 1rem
}

.box .cta {
	margin-top: 2rem;
	background: var(--white);
	color: var(--black)
}

:global(html.darkmode) .box .cta {
	background: var(--black);
	color: var(--white)
}

.box>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem
}

.box>div p {
	padding-bottom: 0
}

.box-inner {
	position: absolute !important;
	bottom: 1rem;
	width: calc(100% - 2rem)
}

html.darkmode .box {
	background: #000;
	color: var(--black)
}

html.rainbowmode .box {
	background: rgba(var(--black-rgb), .05)
}

html.rainbowmode .box .cta {
	color: var(--white)
}

html.rainbowmode #intro,
html.rainbowmode .box h3,
html.rainbowmode .box-inner,
html.rainbowmode .caption,
html.rainbowmode .preamble,
html.rainbowmode .quote q,
html.rainbowmode .rainbow,
html.rainbowmode .text,
html.rainbowmode .title h1,
html.rainbowmode [data-rainbow] {
	position: relative;
	overflow: hidden
}

html.rainbowmode #intro:before,
html.rainbowmode .box h3:before,
html.rainbowmode .box-inner:before,
html.rainbowmode .caption:before,
html.rainbowmode .preamble:before,
html.rainbowmode .quote q:before,
html.rainbowmode .rainbow:before,
html.rainbowmode .text:before,
html.rainbowmode .title h1:before,
html.rainbowmode [data-rainbow]:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background: repeating-linear-gradient(var(--rainbow1) 0, var(--rainbow1) var(--line), var(--rainbow2) var(--line), var(--rainbow2) calc(var(--line) * 2), var(--rainbow3) calc(var(--line) * 2), var(--rainbow3) calc(var(--line) * 3), var(--rainbow4) calc(var(--line) * 3), var(--rainbow4) calc(var(--line) * 4), var(--rainbow5) calc(var(--line) * 4), var(--rainbow5) calc(var(--line) * 5), var(--rainbow6) calc(var(--line) * 5), var(--rainbow6) calc(var(--line) * 6), var(--rainbow7) calc(var(--line) * 6), var(--rainbow7) calc(var(--line) * 7), var(--rainbow8) calc(var(--line) * 7), var(--rainbow8) calc(var(--line) * 8), var(--rainbow9) calc(var(--line) * 8), var(--rainbow9) calc(var(--line) * 9), var(--rainbow1) calc(var(--line) * 9));
	background-repeat: repeat-y;
	mix-blend-mode: lighten;
	pointer-events: none;
	z-index: 10
}

html.rainbowmode #intro:before,
html.rainbowmode.darkmode #intro:before,
html.rainbowmode.darkmode .box h3:before,
html.rainbowmode.darkmode .box-inner:before,
html.rainbowmode.darkmode .caption:before,
html.rainbowmode.darkmode .preamble:before,
html.rainbowmode.darkmode .quote q:before,
html.rainbowmode.darkmode .rainbow:before,
html.rainbowmode.darkmode .text:before,
html.rainbowmode.darkmode .title h1:before,
html.rainbowmode.darkmode [data-rainbow]:before {
	mix-blend-mode: darken
}

html.rainbowmode .caption:before {
	margin-top: 1rem
}

html.rainbowmode .box h3:before,
html.rainbowmode .preamble:before {
	background: repeating-linear-gradient(var(--rainbow1) 0, var(--rainbow1) calc(var(--line) * 2.2), var(--rainbow2) calc(var(--line) * 2.2), var(--rainbow2) calc(var(--line) * 4.2), var(--rainbow3) calc(var(--line) * 4.2), var(--rainbow3) calc(var(--line) * 6.2), var(--rainbow4) calc(var(--line) * 6.2), var(--rainbow4) calc(var(--line) * 8.2), var(--rainbow5) calc(var(--line) * 8.2), var(--rainbow5) calc(var(--line) * 10.2), var(--rainbow6) calc(var(--line) * 10.2), var(--rainbow6) calc(var(--line) * 12.2), var(--rainbow7) calc(var(--line) * 12.2), var(--rainbow7) calc(var(--line) * 14.2), var(--rainbow8) calc(var(--line) * 14.2), var(--rainbow8) calc(var(--line) * 16.2), var(--rainbow9) calc(var(--line) * 16.2), var(--rainbow9) calc(var(--line) * 18.2), var(--rainbow1) calc(var(--line) * 18.2))
}

@media(max-width:767px) {

	html.rainbowmode .box h3:before,
	html.rainbowmode .preamble:before {
		background: repeating-linear-gradient(var(--rainbow1) 0, var(--rainbow1) calc(var(--font-size) * 2.2), var(--rainbow2) calc(var(--font-size) * 2.2), var(--rainbow2) calc(var(--font-size) * 4.2), var(--rainbow3) calc(var(--font-size) * 4.2), var(--rainbow3) calc(var(--font-size) * 6.2), var(--rainbow4) calc(var(--font-size) * 6.2), var(--rainbow4) calc(var(--font-size) * 8.2), var(--rainbow5) calc(var(--font-size) * 8.2), var(--rainbow5) calc(var(--font-size) * 10.2), var(--rainbow6) calc(var(--font-size) * 10.2), var(--rainbow6) calc(var(--font-size) * 12.2), var(--rainbow7) calc(var(--font-size) * 12.2), var(--rainbow7) calc(var(--font-size) * 14.2), var(--rainbow8) calc(var(--font-size) * 14.2), var(--rainbow8) calc(var(--font-size) * 16.2), var(--rainbow9) calc(var(--font-size) * 16.2), var(--rainbow9) calc(var(--font-size) * 18.2), var(--rainbow1) calc(var(--font-size) * 18.2))
	}
}

html.rainbowmode .quote q:before,
html.rainbowmode .title h1:before {
	background: repeating-linear-gradient(var(--rainbow1) 0, var(--rainbow1) calc(var(--line) * 3.4), var(--rainbow2) calc(var(--line) * 3.4), var(--rainbow2) calc(var(--line) * 6.4), var(--rainbow3) calc(var(--line) * 6.4), var(--rainbow3) calc(var(--line) * 9.4), var(--rainbow4) calc(var(--line) * 9.4), var(--rainbow4) calc(var(--line) * 12.4), var(--rainbow5) calc(var(--line) * 12.4), var(--rainbow5) calc(var(--line) * 15.4), var(--rainbow6) calc(var(--line) * 15.4), var(--rainbow6) calc(var(--line) * 18.4), var(--rainbow7) calc(var(--line) * 18.4), var(--rainbow7) calc(var(--line) * 21.4), var(--rainbow8) calc(var(--line) * 21.4), var(--rainbow8) calc(var(--line) * 24.4), var(--rainbow9) calc(var(--line) * 24.4), var(--rainbow9) calc(var(--line) * 27.4), var(--rainbow1) calc(var(--line) * 27.4))
}

@media(max-width:767px) {

	html.rainbowmode .quote q:before,
	html.rainbowmode .title h1:before {
		background: repeating-linear-gradient(var(--rainbow1) 0, var(--rainbow1) calc(var(--font-size) * 2.7), var(--rainbow2) calc(var(--font-size) * 2.7), var(--rainbow2) calc(var(--font-size) * 4.8), var(--rainbow3) calc(var(--font-size) * 4.8), var(--rainbow3) calc(var(--font-size) * 7.2), var(--rainbow4) calc(var(--font-size) * 7.2), var(--rainbow4) calc(var(--font-size) * 9.6), var(--rainbow5) calc(var(--font-size) * 9.6), var(--rainbow5) calc(var(--font-size) * 11.9), var(--rainbow6) calc(var(--font-size) * 11.9), var(--rainbow6) calc(var(--font-size) * 14.2), var(--rainbow7) calc(var(--font-size) * 14.2), var(--rainbow7) calc(var(--font-size) * 16.55), var(--rainbow8) calc(var(--font-size) * 16.55), var(--rainbow8) calc(var(--font-size) * 18.85), var(--rainbow9) calc(var(--font-size) * 18.85), var(--rainbow9) calc(var(--font-size) * 21.2), var(--rainbow1) calc(var(--font-size) * 21.2))
	}
}

.caption {
	padding: 1rem 4rem 1rem 0
}

.preamble {
	padding-bottom: .4rem
}

.quote q {
	padding-bottom: 1rem
}

.linklist {
	border-top: 1px solid rgba(var(--black-rgb), 1);
	margin-top: calc(1rem - 1px)
}

.linklist li a {
	border-bottom: 1px solid rgba(var(--black-rgb), 1);
	padding: 1rem 0 calc(1rem - 1px);
	display: block
}

.facts {
	width: 100%;
	padding-left: var(--column);
	position: relative;
	margin-bottom: var(--line)
}

.facts dt {
	position: absolute;
	left: 0
}

.title {
	padding-top: var(--page-margin);
	padding-bottom: calc(var(--page-margin) - 1rem)
}

.quote {
	padding-top: calc(var(--line)*2);
	padding-bottom: calc(var(--line)*2);
	margin-bottom: 1rem
}

@media(max-width:767px) {
	.quote {
		padding: var(--line) 0
	}
}

.quote q {
	quotes: none;
	text-indent: var(--column);
	display: block
}

@media(max-width:767px) {
	.quote q {
		text-indent: 0
	}

	.hidemobile {
		display: none
	}
}

@media(min-width:768px) {
	.hidedesktop {
		display: none
	}
}

.box h3,
.preamble ol,
.preamble p,
.quote q,
.title h1 {
	font-family: abc-v, sans-serif;
	font-size: calc(var(--font-size)*4.2);
	font-variation-settings: "wght" 730;
	line-height: calc(var(--line)*3);
	letter-spacing: -.036em;
	text-transform: none;
	font-feature-settings: "ss05"
}

@media(max-width:767px) {

	.box h3,
	.preamble ol,
	.preamble p,
	.quote q,
	.title h1 {
		font-size: calc(var(--font-size)*2);
		line-height: 1;
		letter-spacing: -.03em
	}
}

.text .list {
	list-style: none
}

.text .list li {
	text-indent: -2ch;
	padding-left: 1ch
}

.text .list li:before {
	content: "> ";
	padding-right: .5ch
}

.cta {
	display: block;
	padding: 1rem;
	background: var(--black);
	color: var(--white);
	position: relative;
	width: 100%;
	text-align: left
}

.cta:after {
	content: "→";
	position: absolute;
	right: 1rem
}

html.rainbowmode .cta {
	z-index: 11;
	background: var(--rainbow4)
}

.quote q,
.title h1 {
	padding-bottom: 1rem
}

@media(max-width:767px) {

	.quote q,
	.title h1 {
		font-size: calc(var(--font-size)*2.5);
		line-height: .94;
		letter-spacing: -.04em
	}
}

.box h3,
.preamble ol,
.preamble p {
	font-size: calc(var(--font-size)*2.6);
	line-height: calc(var(--line)*2);
	letter-spacing: -.032em
}

@media(max-width:767px) {

	.box h3,
	.preamble ol,
	.preamble p {
		font-size: calc(var(--font-size)*2);
		line-height: 1;
		letter-spacing: -.03em
	}
}

.preamble ol {
	list-style: none;
	counter-reset: item
}

.preamble ol li {
	line-height: calc(var(--line)*2)
}

.preamble ol li:before {
	content: counter(item) ". ";
	width: 1em;
	display: inline-block
}

.preamble p+p,
.preamble.indent p {
	text-indent: var(--column)
}

@media(max-width:767px) {

	.preamble p+p,
	.preamble.indent p {
		text-indent: 4rem
	}
}

.char-grid {
	position: fixed;
	top: 1rem;
	left: 1rem;
	right: 1rem;
	opacity: 0;
	pointer-events: none;
	color: blue;
	background: #ff0
}

.Footer_container__Vebor {
	padding-top: calc(var(--line)*3)
}

@media(max-width:767px) {
	.Footer_container__Vebor {
		padding-bottom: 1rem;
		padding-top: calc(var(--line)*1)
	}
}

@media(min-width:768px) {
	.Footer_container__Vebor {
		position: absolute;
		bottom: 0;
		width: 100%
	}

	#aino[data-page=studio-life] .Footer_container__Vebor {
		bottom: 1rem
	}
}

.Footer_newsticker__P1uue {
	display: flex
}

.Footer_newsticker__P1uue li {
	white-space: nowrap;
	padding-right: 1rem
}

.Footer_newsticker__P1uue li:after {
	content: "•";
	padding-left: 1rem
}

.Footer_grid__S1b_W>div {
	margin-bottom: 0 !important
}

html.rainbowmode.textmode #aino[data-page=studio-life] .Footer_grid__S1b_W {
	display: none
}

@media(max-width:767px) {
	.Footer_grid__S1b_W {
		display: flex !important;
		flex-wrap: wrap
	}

	.Footer_grid__S1b_W>div {
		width: var(--column-double)
	}

	.Footer_grid__S1b_W>div:first-child,
	.Footer_grid__S1b_W>div:nth-child(2) {
		margin-bottom: var(--line) !important
	}
}

.grid_col2__RaBpf,
.grid_col3__i3NB1,
.grid_col4__8IUeh {
	column-gap: 1rem
}

@media(max-width:767px) {

	.grid_col2__RaBpf,
	.grid_col3__i3NB1,
	.grid_col4__8IUeh {
		column-count: 1 !important
	}
}

.grid_col2__RaBpf p,
.grid_col3__i3NB1 p,
.grid_col4__8IUeh p {
	page-break-inside: avoid;
	break-inside: avoid;
	display: inline-block;
	width: 100%
}

.grid_col2__RaBpf>div,
.grid_col3__i3NB1>div,
.grid_col4__8IUeh>div {
	page-break-inside: avoid;
	break-inside: avoid
}

.grid_col2__RaBpf {
	column-count: 2
}

.grid_col3__i3NB1 {
	column-count: 3
}

.grid_row12221__FrPtw,
.grid_row1313__nzkv_,
.grid_row1322__4nAyM,
.grid_row134__WEHUv,
.grid_row1421__1PhDI,
.grid_row2222__CzVWr,
.grid_row224__OKmJv,
.grid_row233__GhQny,
.grid_row242__S1uCN,
.grid_row251__CuLLX,
.grid_row26__9_OOe,
.grid_row3122__3zvuP,
.grid_row314__RiBar,
.grid_row3221__hUH_4,
.grid_row35__td20L,
.grid_row413__vMDAO,
.grid_row422__DBRLF,
.grid_row44__pTEFc,
.grid_row53__W6nHn,
.grid_row62__3N8Cn,
.grid_row__W1MMo {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 0;
	position: relative
}

.grid_row12221__FrPtw>div:not(:empty),
.grid_row1313__nzkv_>div:not(:empty),
.grid_row1322__4nAyM>div:not(:empty),
.grid_row134__WEHUv>div:not(:empty),
.grid_row1421__1PhDI>div:not(:empty),
.grid_row2222__CzVWr>div:not(:empty),
.grid_row224__OKmJv>div:not(:empty),
.grid_row233__GhQny>div:not(:empty),
.grid_row242__S1uCN>div:not(:empty),
.grid_row251__CuLLX>div:not(:empty),
.grid_row26__9_OOe>div:not(:empty),
.grid_row3122__3zvuP>div:not(:empty),
.grid_row314__RiBar>div:not(:empty),
.grid_row3221__hUH_4>div:not(:empty),
.grid_row35__td20L>div:not(:empty),
.grid_row413__vMDAO>div:not(:empty),
.grid_row422__DBRLF>div:not(:empty),
.grid_row44__pTEFc>div:not(:empty),
.grid_row53__W6nHn>div:not(:empty),
.grid_row62__3N8Cn>div:not(:empty),
.grid_row__W1MMo>div:not(:empty) {
	margin-bottom: 1rem
}

@media(max-width:767px) {

	.grid_row12221__FrPtw,
	.grid_row1313__nzkv_,
	.grid_row1322__4nAyM,
	.grid_row134__WEHUv,
	.grid_row1421__1PhDI,
	.grid_row2222__CzVWr,
	.grid_row224__OKmJv,
	.grid_row233__GhQny,
	.grid_row242__S1uCN,
	.grid_row251__CuLLX,
	.grid_row26__9_OOe,
	.grid_row3122__3zvuP,
	.grid_row314__RiBar,
	.grid_row3221__hUH_4,
	.grid_row35__td20L,
	.grid_row413__vMDAO,
	.grid_row422__DBRLF,
	.grid_row44__pTEFc,
	.grid_row53__W6nHn,
	.grid_row62__3N8Cn,
	.grid_row__W1MMo {
		display: block
	}

	.grid_row12221__FrPtw>div:empty,
	.grid_row1313__nzkv_>div:empty,
	.grid_row1322__4nAyM>div:empty,
	.grid_row134__WEHUv>div:empty,
	.grid_row1421__1PhDI>div:empty,
	.grid_row2222__CzVWr>div:empty,
	.grid_row224__OKmJv>div:empty,
	.grid_row233__GhQny>div:empty,
	.grid_row242__S1uCN>div:empty,
	.grid_row251__CuLLX>div:empty,
	.grid_row26__9_OOe>div:empty,
	.grid_row3122__3zvuP>div:empty,
	.grid_row314__RiBar>div:empty,
	.grid_row3221__hUH_4>div:empty,
	.grid_row35__td20L>div:empty,
	.grid_row413__vMDAO>div:empty,
	.grid_row422__DBRLF>div:empty,
	.grid_row44__pTEFc>div:empty,
	.grid_row53__W6nHn>div:empty,
	.grid_row62__3N8Cn>div:empty,
	.grid_row__W1MMo>div:empty {
		display: none
	}
}

.grid_row__W1MMo>div {
	grid-area: 1/1/2/9
}

.grid_row26__9_OOe>div:first-child {
	grid-area: 1/1/2/3
}

.grid_row26__9_OOe>div:nth-child(2) {
	grid-area: 1/3/2/9
}

.grid_row62__3N8Cn>div:first-child {
	grid-area: 1/1/2/7
}

.grid_row62__3N8Cn>div:nth-child(2) {
	grid-area: 1/7/2/9
}

.grid_row242__S1uCN>div:first-child {
	grid-area: 1/1/2/3
}

.grid_row242__S1uCN>div:nth-child(2) {
	grid-area: 1/3/2/7
}

.grid_row242__S1uCN>div:nth-child(3) {
	grid-area: 1/7/2/9
}

.grid_row224__OKmJv>div:first-child {
	grid-area: 1/1/2/3
}

.grid_row224__OKmJv>div:nth-child(2) {
	grid-area: 1/3/2/5
}

.grid_row224__OKmJv>div:nth-child(3) {
	grid-area: 1/5/2/9
}

.grid_row233__GhQny>div:first-child {
	grid-area: 1/1/2/3
}

.grid_row233__GhQny>div:nth-child(2) {
	grid-area: 1/3/2/6
}

.grid_row233__GhQny>div:nth-child(3) {
	grid-area: 1/6/2/9
}

.grid_row44__pTEFc>div:first-child {
	grid-area: 1/1/2/5
}

.grid_row44__pTEFc>div:nth-child(2) {
	grid-area: 1/5/2/9
}

.grid_row422__DBRLF>div:first-child {
	grid-area: 1/1/2/5
}

.grid_row422__DBRLF>div:nth-child(2) {
	grid-area: 1/5/2/7
}

.grid_row422__DBRLF>div:nth-child(3) {
	grid-area: 1/7/2/9
}

.grid_row413__vMDAO>div:first-child {
	grid-area: 1/1/2/5
}

.grid_row413__vMDAO>div:nth-child(2) {
	grid-area: 1/5/2/6
}

.grid_row413__vMDAO>div:nth-child(3) {
	grid-area: 1/6/2/9
}

.grid_row134__WEHUv>div:first-child {
	grid-area: 1/1/2/2
}

.grid_row134__WEHUv>div:nth-child(2) {
	grid-area: 1/2/2/5
}

.grid_row134__WEHUv>div:nth-child(3) {
	grid-area: 1/5/2/9
}

.grid_row314__RiBar>div:first-child {
	grid-area: 1/1/2/4
}

.grid_row314__RiBar>div:nth-child(2) {
	grid-area: 1/4/2/5
}

.grid_row314__RiBar>div:nth-child(3) {
	grid-area: 1/5/2/9
}

.grid_row251__CuLLX>div:first-child {
	grid-area: 1/1/2/3
}

.grid_row251__CuLLX>div:nth-child(2) {
	grid-area: 1/3/2/8
}

.grid_row251__CuLLX>div:nth-child(3) {
	grid-area: 1/8/2/9
}

.grid_row2222__CzVWr>div:first-child {
	grid-area: 1/1/2/3
}

.grid_row2222__CzVWr>div:nth-child(2) {
	grid-area: 1/3/2/5
}

.grid_row2222__CzVWr>div:nth-child(3) {
	grid-area: 1/5/2/7
}

.grid_row2222__CzVWr>div:nth-child(4) {
	grid-area: 1/7/2/9
}

.grid_row12221__FrPtw>div:first-child {
	grid-area: 1/1/2/2
}

.grid_row12221__FrPtw>div:nth-child(2) {
	grid-area: 1/2/2/4
}

.grid_row12221__FrPtw>div:nth-child(3) {
	grid-area: 1/4/2/6
}

.grid_row12221__FrPtw>div:nth-child(4) {
	grid-area: 1/6/2/8
}

.grid_row12221__FrPtw>div:nth-child(5) {
	grid-area: 1/8/2/9
}

.grid_row1421__1PhDI>div:first-child {
	grid-area: 1/1/2/2
}

.grid_row1421__1PhDI>div:nth-child(2) {
	grid-area: 1/2/2/6
}

.grid_row1421__1PhDI>div:nth-child(4) {
	grid-area: 1/6/2/8;
	grid-area: 1/8/2/9
}

.grid_row1313__nzkv_>div:first-child {
	grid-area: 1/1/2/2
}

.grid_row1313__nzkv_>div:nth-child(2) {
	grid-area: 1/2/2/5
}

.grid_row1313__nzkv_>div:nth-child(3) {
	grid-area: 1/5/2/6
}

.grid_row1313__nzkv_>div:nth-child(4) {
	grid-area: 1/6/2/9
}

.grid_row35__td20L>div:first-child {
	grid-area: 1/1/2/4
}

.grid_row35__td20L>div:nth-child(2) {
	grid-area: 1/4/2/9
}

.grid_row53__W6nHn>div:first-child {
	grid-area: 1/1/2/6
}

.grid_row53__W6nHn>div:nth-child(2) {
	grid-area: 1/6/2/9
}

.grid_row1322__4nAyM>div:first-child {
	grid-area: 1/1/2/2
}

.grid_row1322__4nAyM>div:nth-child(2) {
	grid-area: 1/2/2/5
}

.grid_row1322__4nAyM>div:nth-child(3) {
	grid-area: 1/5/2/7
}

.grid_row1322__4nAyM>div:nth-child(4) {
	grid-area: 1/7/2/9
}

.grid_row3122__3zvuP>div:first-child {
	grid-area: 1/1/2/4
}

.grid_row3122__3zvuP>div:nth-child(2) {
	grid-area: 1/4/2/5
}

.grid_row3122__3zvuP>div:nth-child(3) {
	grid-area: 1/5/2/7
}

.grid_row3122__3zvuP>div:nth-child(4) {
	grid-area: 1/7/2/9
}

.grid_row3221__hUH_4>div:first-child {
	grid-area: 1/1/2/4
}

.grid_row3221__hUH_4>div:nth-child(2) {
	grid-area: 1/4/2/6
}

.grid_row3221__hUH_4>div:nth-child(3) {
	grid-area: 1/6/2/8
}

.grid_row3221__hUH_4>div:nth-child(4) {
	grid-area: 1/8/2/9
}

.grid_space1__9cJBp {
	height: var(--line)
}

.grid_space2__xPBQP {
	height: calc(var(--line)*2)
}

.grid_space3__OX_Gb {
	height: calc(var(--line)*3)
}

.grid_divider__LOva1 {
	height: calc(var(--line)*2);
	position: relative
}

.grid_divider__LOva1:before {
	content: " ";
	background: rgba(var(--black-rgb), .1);
	position: absolute;
	top: var(--line);
	width: 100%;
	height: 1px
}

.grid_remspace__AP_Vg {
	height: 1rem
}

.grid_bottom__e1HzC {
	display: flex;
	align-items: flex-end
}

@media(max-width:767px) {
	.grid_bottom__e1HzC {
		display: block
	}
}

.grid_bottom__e1HzC p:last-child {
	padding-bottom: 0
}

.grid_topbottom__k6oAR {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between
}

.grid_topbottom__k6oAR p {
	padding-bottom: 0
}

.grid_square__4JOdq {
	height: 0;
	padding-bottom: 100%;
	position: relative
}

.grid_square__4JOdq>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.Select_container__Dd2cq .Select_options__3T1s2>span {
	display: block;
	position: relative;
	cursor: pointer;
	opacity: .3;
	text-align: left;
	padding: 0 0 0 2rem
}

.Select_container__Dd2cq .Select_options__3T1s2>span.Select_active___epOU {
	opacity: 1
}

.Select_container__Dd2cq .Select_options__3T1s2>span.Select_active___epOU:before {
	content: ">";
	position: absolute;
	left: 0
}

.Select_container__Dd2cq select {
	position: absolute;
	top: -10000px;
	opacity: 0
}

.Input_input__1CJi3 {
	position: relative;
	display: block
}

.Input_input__1CJi3 input,
.Input_input__1CJi3 textarea {
	border: none;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	caret-color: transparent;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	color: inherit;
	background: transparent;
	resize: none;
	line-height: var(--line);
	min-height: var(--line)
}

.Input_input__1CJi3 input::placeholder,
.Input_input__1CJi3 textarea::placeholder {
	color: rgba(var(--black-rgb), .3)
}

.Input_square__XOtHp {
	position: absolute;
	width: 1rem;
	height: var(--line);
	background: var(--black);
	pointer-events: none
}

.Input_placeholder__L85Tv {
	position: absolute;
	opacity: .3;
	cursor: text
}

.Input_inverted__0gKqb .Input_square__XOtHp {
	background: var(--white)
}

html.darkmode .Input_inverted__0gKqb .Input_square__XOtHp {
	background: var(--black)
}

.Lead_container__Yt18G {
	display: flex;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	z-index: 1000
}

@media(max-width:500px) {
	.Lead_container__Yt18G {
		align-items: flex-start;
		margin-top: calc(var(--line)*2)
	}
}

.Lead_container__Yt18G form {
	padding-left: 2rem;
	padding-bottom: calc(var(--line)*2)
}

.Lead_container__Yt18G form .Lead_label__pE1aF {
	padding-right: 1rem
}

@media(max-width:500px) {
	.Lead_container__Yt18G form {
		padding-bottom: calc(var(--line)*2)
	}
}

.Lead_container__Yt18G .Lead_head__SmDZc {
	margin-bottom: calc(var(--line)*2)
}

.Lead_container__Yt18G .Lead_backdrop__8B4cQ {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	transition: all .1s ease-out;
	background: transparent;
	-webkit-backdrop-filter: blur(0);
	backdrop-filter: blur(0)
}

.Lead_container__Yt18G .Lead_content__r42VH {
	background: #000;
	color: #f5f5f0;
	padding: calc(var(--line)*1) 2rem;
	position: relative;
	width: 100%;
	margin: 0 1rem;
	max-width: 80rem;
	min-height: calc(var(--line)*15);
	transition: opacity .2s ease-out;
	opacity: 0
}

@media(max-width:500px) {
	.Lead_container__Yt18G .Lead_content__r42VH {
		min-height: calc(var(--line)*21)
	}
}

.Lead_container__Yt18G .Lead_inputRow__3fzco {
	display: flex;
	flex-direction: row;
	width: 100%
}

@media(max-width:500px) {
	.Lead_container__Yt18G .Lead_inputRow__3fzco {
		flex-direction: column
	}
}

.Lead_container__Yt18G .Lead_inputRow__3fzco .Lead_q__mfDvi {
	opacity: .3;
	position: absolute;
	margin-left: -2rem
}

.Lead_container__Yt18G .Lead_inputRow__3fzco .Lead_input__4XcS2 {
	color: #f5f5f0;
	flex: 1 1
}

.Lead_container__Yt18G .Lead_inputRow__3fzco .Lead_input__4XcS2 input {
	width: 100%
}

.Lead_container__Yt18G .Lead_selectRow__usBcE {
	display: block
}

.Lead_container__Yt18G .Lead_disclaimer__r_Zw6 {
	position: absolute;
	bottom: calc(var(--line)*-1.4);
	opacity: .2;
	right: 1rem;
	font-size: 1rem;
	text-align: right
}

@media(min-width:500px) {
	.Lead_container__Yt18G .Lead_email__9cmpL {
		position: absolute;
		bottom: var(--line);
		left: 2rem
	}
}

.Lead_container__Yt18G .Lead_hidden__DgPrc {
	position: absolute;
	left: -10000rem
}

.Lead_container__Yt18G .Lead_select__KNgq7 {
	margin-left: -2rem
}

.Lead_container__Yt18G .Lead_submit__x82Ra {
	position: absolute;
	right: 2rem;
	bottom: var(--line)
}

.Lead_container__Yt18G .Lead_step__7eGI9 {
	position: absolute;
	top: var(--line);
	right: 2rem;
	opacity: .3
}

@media(max-width:500px) {
	.Lead_container__Yt18G .Lead_step__7eGI9 {
		display: none
	}
}

.Lead_container__Yt18G .Lead_help__YPd4Y {
	position: absolute;
	bottom: var(--line);
	right: 2rem;
	opacity: .3
}

.Lead_container__Yt18G .Lead_close__2p81c {
	position: fixed;
	top: var(--line);
	right: 2rem;
	color: #f5f5f0
}

@media(max-width:500px) {
	.Lead_container__Yt18G .Lead_close__2p81c {
		top: 1rem;
		right: 1rem
	}
}

.Lead_tick__oxPi9 .Lead_backdrop__8B4cQ {
	background: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px)
}

html.darkmode .Lead_tick__oxPi9 .Lead_backdrop__8B4cQ {
	background: rgba(var(--white-rgb), .7);
	-webkit-backdrop-filter: blur(60px);
	backdrop-filter: blur(60px)
}

.Lead_tick__oxPi9 .Lead_content__r42VH {
	opacity: 1
}