.Image_wrapper__CEf6Z {
	position: relative;
	overflow: hidden;
	mix-blend-mode: multiply;
	height: 0
}

html.darkmode .Image_wrapper__CEf6Z,
html.rainbowmode .Image_wrapper__CEf6Z {
	mix-blend-mode: normal
}

.Image_wrapper__CEf6Z>span {
	top: 0
}

.Image_wrapper__CEf6Z img {
	z-index: 11
}

html.js .Image_wrapper__CEf6Z img {
	opacity: 0
}

.Image_wrapper__CEf6Z.Image_loaded__4V492 img {
	opacity: 1 !important
}

.Image_wrapper__CEf6Z.Image_loaded__4V492 .Image_loader__d_Pxc {
	display: none
}

.Image_loader__d_Pxc {
	width: 100%;
	position: absolute;
	top: 0;
	display: none
}

html.js .Image_loader__d_Pxc {
	display: block
}

.Image_loader__d_Pxc img {
	width: 100%;
	image-rendering: pixelated
}

.Image_loader__d_Pxc canvas {
	position: absolute;
	top: 0;
	z-index: 11;
	transition: opacity .3s linear;
	image-rendering: pixelated
}

.Image_letters__VlOak {
	position: absolute;
	top: 0;
	width: 100.1%;
	height: 100%;
	pointer-events: none;
	opacity: 0
}

@media(max-width:767px) {
	.Image_letters__VlOak {
		width: 101%
	}
}

.Image_textMode__sZj32 .Image_letters__VlOak {
	opacity: 1
}

.Image_wrapper__CEf6Z.Image_textMode__sZj32 img {
	opacity: 0 !important
}

.about_about__b62NF {
	padding-top: var(--page-margin)
}

.about_facts__DJpzT {
	width: 100%;
	padding-left: var(--column);
	position: relative;
	margin-bottom: var(--line)
}

@media(max-width:757px) {
	.about_facts__DJpzT {
		padding-left: var(--column-double)
	}
}

.about_facts__DJpzT dt {
	position: absolute;
	left: 0
}